<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>fmoyt-10k</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../../webroot/css/main.css" inline>
    </head>
    <body>
        <ul class="grid">
            <li class="grid-item">
                <a href="#">
                    <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/e1mjopzAS2KNsvpbpahQ1a6SkSn.jpg" alt="" width="185" height="278">
                    <h3>Suicide Squad</h3>
                    <time datetime="2016" class="mono">2016</time>
                    <div class="grid-item__rating mono">72</div>
                </a>
            </li>
            <li class="grid-item">
                <a href="#">
                    <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/jjBgi2r5cRt36xF6iNUEhzscEcb.jpg" alt="" width="185" height="278">
                    <h3>Jurassic World</h3>
                    <time datetime="2015" class="mono">2015</time>
                </a>
            </li>
            <li class="grid-item">
                <a href="#">
                    <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/hU0E130tsGdsYa4K9lc3Xrn5Wyt.jpg" alt="" width="185" height="278">
                    <h3>Now You See Me 2</h3>
                    <time datetime="2016" class="mono">2016</time>
                </a>
            </li>
            <li class="grid-item">
                <a href="#">
                    <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/vNCeqxbKyDHL9LUza03V2Im16wB.jpg" alt="" width="185" height="278">
                    <h3>The Nice Guys</h3>
                    <time datetime="2016" class="mono">2016</time>
                </a>
            </li>
            <li class="grid-item">
                <a href="#">
                    <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/q0R4crx2SehcEEQEkYObktdeFy.jpg" alt="" width="185" height="278">
                    <h3>Minions</h3>
                    <time datetime="2016" class="mono">2016</time>
                </a>
            </li>
            <li class="grid-item">
                <a href="#">
                    <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/inVq3FRqcYIRl2la8iZikYYxFNR.jpg" alt="" width="185" height="278">
                    <h3>Deadpool</h3>
                    <time datetime="2016" class="mono">2016</time>
                </a>
            </li>
        </ul>
    </body>
</html>
