<ul class="grid">
  {{#each movies}}
  <li class="grid-item">
    <a href="https://youtu.be/{{youtube_id}}">
      <img src="https://image.tmdb.org/t/p/w640{{poster}}" alt="" width="640" height="960">
      <h3>{{title}}</h3>
      <time datetime="2016" class="mono">{{year release_date}}</time>
      <div class="grid-item__rating mono">72</div>
    </a>
  </li>
  {{/each}}
</ul>

<div class="movie">
  <div class="movie-inner">
    <div class="movie-left">
      <img src="https://image.tmdb.org/t/p/w640/e1mjopzAS2KNsvpbpahQ1a6SkSn.jpg" alt="">
    </div>
    <div class="movie-right">
      <h1>Suicide Squad</h1>
      <p class="movie__overview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="movie__meta">
        <div>
          <h3 class="mono">Starring</h3>
          <p>Michael Fassbender, Brad Pitt</p>
        </div>
        <div>
          <h3 class="mono">Director</h3>
          <p>James Cameron</p>
        </div>
      </div>
      <div class="movie__btns">
        <button type="button" class="btn btn--secondary btn--icon">
          <svg viewBox="0 0 24 24">
            <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z"/>
          </svg>
          Save For Later
        </button>
        <a href="#" class="btn btn--primary btn--icon">
          <svg viewBox="0 0 24 24">
            <path d="M8 5v14l11-7z"/>
          </svg>
          Watch Now
        </a>
      </div>
    </div>
  </div>
</div>
