<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>fmoyt-10k</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Source+Code+Pro:400,600" rel="stylesheet">
    <link rel="stylesheet" href="../../../webroot/css/main.css" inline>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
