<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FMoYT-10k : Full Movies on YouTube</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../../webroot/css/main.css" inline>
    <script>
      !function(a){var b=function(b,c){"use strict";var d=a.document.getElementsByTagName("script")[0],e=a.document.createElement("script");return e.src=b,e.async=!0,d.parentNode.insertBefore(e,d),c&&"function"==typeof c&&(e.onload=c),e};"undefined"!=typeof module?module.exports=b:a.loadJS=b}("undefined"!=typeof global?global:this);

      loadJS('/js/main.js');

      loadJS('/js/imgix.min.js', function() {
        imgix.init({
          srcAttribute: 'data-src',
          srcsetAttribute: 'data-srcset',
          sizesAttribute: 'data-sizes'
        });
      });
    </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
